_examples/
_test_clips/
node_modules/

#build directories
node_frc2522build/make/windows_x86_64/build/*
node_frc2522build/make/windows_x86_64/build/*
Release/
Debug/
build/

#visual studio
*.sdf
*.suo
*.log
*.VC.db
*.vcxproj.user


#######################################
#######################################
#######################################
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
